.simple-tree {
  padding: 0px;
  margin: 0px; }
  .simple-tree .node {
    list-style-type: none;
    margin-left: 20px;
    zoom: 1;
    border-top: 1px dashed #a0a0a0;
    background-image: url("simple_tree/vertical_line.png");
    background-repeat: repeat-y;
    background-position: left top; }
    .simple-tree .node .node-action {
      width: 20px;
      height: 20px;
      float: left; }
    .simple-tree .node .node-content {
      margin-left: 25px;
      min-height: 20px;
      line-height: 20px;
      cursor: pointer; }
  .simple-tree > .node:last-child, .simple-tree > .node.is-last {
    background-image: url("simple_tree/half_vertical_line.png");
    background-repeat: no-repeat;
    background-position: left top; }
  .simple-tree > .node {
    padding: 0px;
    margin: 0px; }
    .simple-tree > .node:first-child, .simple-tree > .node.is-first {
      border-top: medium none; }
  .simple-tree .descendants {
    padding: 0px;
    margin: 0px; }
    .simple-tree .descendants > .node:last-child, .simple-tree .descendants > .node.is-last {
      background-image: url("simple_tree/half_vertical_line.png");
      background-repeat: no-repeat;
      background-position: left top; }
  .simple-tree .expand-opened .expand {
    background-image: url("simple_tree/mines_small.png");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer; }
  .simple-tree .expand-opened .descendants {
    display: block; }
  .simple-tree .expand-closed .expand {
    background-image: url("simple_tree/plus_small.png");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer; }
  .simple-tree .expand-closed .descendants {
    display: none; }
  .simple-tree .expand-leaf .expand {
    background-image: url("simple_tree/leaf_small.png");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: default; }

* html .simple-tree .node-content {
  line-height: 20px; }
